/* Стилизация контейнера Swiper */
.swiper-container {
  position: relative;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}

/* Стилизация слайдов */
.swiper-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  /* Меньший размер текста для маленького слайдера */
  color: #fff;
  /* Цвет текста */
  background-color: #007bff;
  /* Цвет фона слайда */
}

/* Стилизация кнопок навигации */
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  /* Цвет иконок */
  background-color: rgba(0, 0, 0, 0.5);
  /* Фон кнопок для лучшей видимости */
  border-radius: 50%;
  /* Круглые кнопки */
  width: 36px;
  /* Ширина */
  height: 36px;
  /* Высота */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: absolute; */
  /* Абсолютное позиционирование */
  /* top: 50%; */
  /* Центрирование по вертикали */
  /* transform: translateY(-50%); */
  /* transform: translateX(50%); */
  /* Смещение для точного центрирования */
  z-index: 10;
  /* Убедитесь, что кнопки находятся над слайдами */
}

.swiper-button-prev {
  left: 0;
  /* Кнопка назад слева */
}

.swiper-button-next {
  right: 0;
  /* Кнопка вперед справа */
}

/* Улучшение видимости иконок кнопок */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  /* Увеличение размера иконок */
}