.biochemical-levels-display {
  display: flex;
  justify-content: center;
  /* Равномерно распределяет элементы с учетом доступного пространства вокруг них */
  align-items: center;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.biochemical-level {
  --filling-height: 50%;
  /* Начальное значение для высоты наполнения */
  --filling-color: blue;
  /* Начальное значение для цвета наполнения */
  position: relative;

  display: flex;
  flex-direction: column;
  /* Ориентирует содержимое колонкой (вертикально) */
  justify-content: center;
  /* Выравнивание содержимого по центру по вертикали */
  align-items: center;
  /* Выравнивание содержимого по центру по горизонтали */
  height: 400px;
  /* Высота каждого элемента */
  flex-basis: 20%;
  /* Базовая ширина каждого элемента, например 20% от общей ширины контейнера */
  flex-grow: 0;
  /* Предотвращает растягивание элементов сверх их базовой ширины */
  margin: 0 10px;
  /* Отступы между элементами */
  border: 1px solid grey;
  /* Отображение границы каждого элемента */
  box-sizing: border-box;
  /* Включает в ширину и высоту элемента паддинги и бордюры */
  color: transparent;
  /* z-index: 10; */
  background-color: antiquewhite;
}

.biochemical-level::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--filling-height);
  /* Использование переменной для высоты */
  background-color: var(--filling-color);
  /* Использование переменной для цвета */
  z-index: 1;
}

.chemical-name {
  position: relative;
  /* Позиционируем поверх псевдоэлемента */
  z-index: 2;
  /* Убедитесь, что z-index выше, чем у ::before */
  color: #414141;
  /* Цвет текста, можно настроить по желанию */
}